
@(user: models.user.User, categories: List[models.product.Category],subCategories: List[models.product.SubCategory],
brands: List[models.product.Brand],product: models.product.Product,message:String)

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/asset/admin/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Fortune Store | Product details</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/asset/admin/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/asset/admin/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/asset/admin/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/asset/admin/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/asset/admin/css/pe-icon-7-stroke.css" rel="stylesheet" />


</head>
<body>


<div class="wrapper">
    <div class="sidebar" style="z-index:1000" data-color="purple" data-image="/asset/admin/img/sidebar-5.jpg">
        <div class="sidebar-wrapper">

            <div class="logo">
                <img height="60" width="60" src="https://s3.ap-south-1.amazonaws.com/fortunestoredxb/assets/IMG-20170329-WA0029.jpg" alt="">
                    FST
                </a>
            </div>

            <ul class="nav">
                <li >
                    <a href="/admin/home">
                        <i class="pe-7s-cart"></i>
                        <p>Orders</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/admin/products">
                        <i class="pe-7s-user"></i>
                        <p>Products</p>
                    </a>
                </li>
                <li >
                    <a href="/admin/banners">
                        <i class="pe-7s-user"></i>
                        <p>Banners</p>
                    </a>
                </li>
                <li  href="#">
                    <a href="/admin/brands">
                        <i class="pe-7s-user"></i>
                        <p>Brands</p>
                    </a>
                </li>
                <li  href="#">
                    <a href="/admin/category">
                        <i class="pe-7s-user"></i>
                        <p>Categories</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/users">
                        <i class="pe-7s-user"></i>
                        <p>Users</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/notifications">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <div class="main-panel">

        <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".sidebar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul class="nav navbar-nav">
                    <span class="navbar-brand" href="#">Product</span>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/admin/logout"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a></li>
                </ul>
            </div>
        </nav>



        @if(message!=null && message.equalsIgnoreCase("success")) {
        <div class="col-md-4" style="position:fixed;right : -10px">
            <div class="alert alert-success">
                <strong>Success!</strong> Product updated.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        } else {
        @if(message!=null) {
        <div class="col-md-4" style="position:fixed;right : -20px;top:-10">
            <div class="alert alert-danger">
                <strong>Error!</strong> Updating product failed. @message
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        }
        }


        <div class="container-fluid ">
            <div class="card">
                <div class="header">
                    <h4 class="title">Product Details</h4>
                </div>
                <div class="content">
                    <form method="POST" action="/admin/products/@product.id" id="add-product-form" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name"  placeholder="Name" value="@product.name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="number" min="1" class="form-control" name="price"  placeholder="Price" value="@product.price">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>DiscountPrice</label>
                                    <input type="number" step="0.01" class="form-control" name="discountPrice"  placeholder="Discount Price" value="@product.discountPrice" required>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input type="number" min="1" class="form-control" name="quantity"  placeholder="Quantity" value="@product.quantity">
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label>Brand</label>
                                    <select class="form-control" name="brand">
                                        @for(brand <- brands) {
                                        @if(brand.id == product.brand.id) {
                                            <option value="@brand.id" selected="selected">@brand.name</option>
                                        } else {
                                            <option value="@brand.id">@brand.name</option>
                                        }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label>Category</label>
                                    <input type="hidden" name="category" value="@product.category.id">
                                    <select class="form-control" disabled name="category">
                                        @for(category <- categories) {
                                        @if(category.id == product.category.id) {
                                        <option value="@category.id" selected="selected">@category.name</option>
                                        } else {
                                        <option value="@category.id">@category.name</option>
                                        }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label>Sub Category</label>
                                    <input type="hidden" name="subCategory" value="@product.subCategory.id">
                                    <select class="form-control" disabled id="sub-category-select" name="subCategory">
                                        @for(subCategory <- subCategories) {
                                        @if(subCategory.category.id ==product.category.id) {
                                        @if(subCategory.id == product.subCategory.id) {
                                        <option value="@subCategory.id" selected="selected">@subCategory.name</option>
                                        } else {
                                        <option value="@subCategory.id">@subCategory.name</option>
                                        }
                                        }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea cols="10" rows="4" type="text" class="form-control" name="desc"  placeholder="Description" >@product.description</textarea>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Featured?</label>
                                    @if(product.featured) {
                                    <input type="checkbox" class="form-control" name="featured" checked="true">
                                    } else {
                                    <input type="checkbox" class="form-control" name="featured" >
                                    }
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <img width="180px" height="240px" src="@product.getThumpNailImage()"/>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <button type="submit" form="add-product-form" style="margin-right: 20px" class="btn btn-success col-md-3 pull-right"  >Update Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container-fluid">
                <div class="content table-responsive table-full-width">

                </div>

            </div>
        </div>



        <footer class="footer">
            <div class="container-fluid">

            </div>
        </footer>

    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="/asset/admin/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/asset/admin/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/asset/admin/js/main.js"></script>

</html>
